 
%html
  %head
    %title= @doc.name
    %link{:rel => "stylesheet", :type => "text/css", :href => to("/jquery-ui.css")}
    %script{:type => "text/javascript", :src => to("/jquery.js")}
    %script{:type => "text/javascript", :src => to("/jquery-ui.js")}
    :javascript
      $(function () {
        // fetch attribute names (possibly nested)
        $(".expand").click(function(e) {
          e.preventDefault();
          var current_row = $(this).parents("tr");
          var attribute = $(".attribute", current_row).text();

          $.get("#{to"/#{@doc.name}/requirements"}", {attributes: attribute}, function(data) {
            current_row.append("<td><table><tr><td>" + data.join("</td></tr><tr><td>") + "</td></tr></table></td>");
          });

          $(this).hide('fast');
        });

        // attributes drag & drop
        function drop_method(event, ui) {
          var new_column = $("<td>" + ui.draggable.text() + "</td>").insertBefore(this);
          new_column.droppable({drop: drop_method });

          var column_list = $.map($('.drop td'), function(e) {return $(e).text() });
          column_list.pop();
          
          $("form .columns").val(column_list.join(","));
        }
        $(".attribute").draggable({helper: "clone", revert: "invalid" });
        $(".drop td").droppable({drop: drop_method, hoverClass: "active"  });
      });

    :css
      table {border-collapse: collapse; }
      .drop td {border-left: thin solid;}
      .drop td.active {border-left-color: red;}
      .drop .empty{width: 20em; }
  %body
    %h1
      %a{:href => to("/#{@doc.name}")}= @doc.name
    %table.attribute_names
      %thead
        %tr
          %th Attributes
          %th Attributes level 1
      %tbody
        - @source_attributes.each do |attr_name|
          %tr
            %td
              %span.attribute= attr_name
              %a.expand(href="#") +
    %h2 Selected Attributes
    %table
      %tr.drop
        %td _name
        %td.empty

    %form(action="matrix")
      %input.columns(type="hidden" name="columns" value="_name")
      %input(type="submit" value="Submit")
