%html
  %head
    %title= @doc.name
    :css
      .req ul li p {display: inline}
      .req .id {font-weight: bold;}
  %body
    %div
      %a#history{:href => to("/#{@doc.name}/history")} History
      |
      %a#download-or{:href => to("/#{@doc.name}.or.gz")} Download

    %h1.title= @doc.name
    = @doc.to_html
