!!! XML
%rss{:version=>"2.0"}
    %channel
        %link= to("/d/#@name/history")
        %title= @name
        %description History of the document '#{@name}'
        %pubDate= @date.rfc822
        %generator OpenReqs

        - @doc_diffs.each do |diff|
            - date = diff.doc_new.date
            %item
                %pubDate= date.rfc822
                %guid= to("/d/#@name/history##{date.iso8601}")
                %link= to("/d/#@name/#{date.iso8601}")
                %title= date.strftime("%F %T")
                %description&= diff.to_html
