%h1
  %a{:href => to("/a/peers")}= @peer.name
%h2 Documents
%ul
  - @docs.each do |doc|
    %li
      %a{:href => to("/a/peers/#{@peer.name}/d/#{doc}")}= doc
      (
      %a{:href => to("/a/peers/#{@peer.name}/d/#{doc}/diff")} diff
      )

%form{:action => to("/a/peers/#{@peer.name}/sync"), :method => "post"}
  %input#sync(type="submit" value="Sync")
