.req
  %h2
    %a(name="req-#{name}")= name
  %a(href="#{doc}/#{name}/edit") edit
  %br
  %ul
    - if date = attributes["date"]
      %li date: #{date.strftime('%Y-%m-%d')}
    - if rationale = attributes["rationale"]
      %li rationale: #{rationale}
    - if satisfies = attributes["satisfies"]
      %li 
        satisfies:
        %a(href="#{doc}#req-#{satisfies}")= satisfies
  = content
