.req
  %strong
    %a(href="#{name}/edit") #{name}
  = content
  %ul
    - if date = attributes["date"]
      %li date: #{date.text.strftime('%Y-%m-%d')}
    - if rationale = attributes["rationale"]
      %li rationale: #{rationale.to_html}
    - if satisfies = attributes["satisfies"]
      %li 
        satisfies:
        = satisfies.to_html
