%html
  %head
    %title #{@doc} - Traceability
  %body
    %ul
      - @reqs.each do |req|
        - linked_reqs = req[@attribute]
        - first = true
        - if linked_reqs.nil?
          %p
            ="\"#{req.name}\", \"#{req.content}\", \"\", \"\""
        - else
          - linked_reqs.each do |linked_req|
            %p
              - if first
                ="\"#{req.name}\", \"#{req.content}\", "
                - first = false
              - else
                ="\"\", \"\", "
              ="\"#{linked_req.name}\", \"#{linked_req.content}\""
