%html
  %head
    %title #{@doc.name} - Traceability
    %script{:type => "text/javascript", :src => to("/jquery.js")}
    %script{:type => "text/javascript", :src => to("/openreqstables.js")}
    :javascript
      $(document).ready(function() {
        initialise_table(0);
      });

    :css
      table {border-collapse: collapse;}
      td, th {border: thin solid;}
  %body
    %h1
      %a{:href => to("/#{@doc.name}")}= @doc.name
      \- Traceability for
      %span(style="font-style: italic;")= @attribute
    %table
      %thead
        %tr
          %th.source__name Name
          %th.source__content Content
          - @source_attributes.each do |attr_name|
            %th(class="source_#{attr_name}")= attr_name
          %th.linked__name Linked name
          %th.linked__content Linked content
          - @linked_attributes.each do |attr_name|
            %th(class="linked_#{attr_name}")= attr_name
      %tbody
        - @reqs.each do |req|
          - linked_reqs = req[@attribute]
          - linked_reqs = [EmptyReq.new] if linked_reqs.empty?
          - linked_reqs.each do |linked_req|
            %tr
              %td= req.name
              %td= req.to_html
              - @source_attributes.each do |attr_name|
                %td= req[attr_name]
              %td= linked_req.name
              %td= linked_req.content
              - @linked_attributes.each do |attr_name|
                %td= linked_req[attr_name]
