.req
  %strong
    - if @date
      = @reqp.name
      (on #{@date.strftime('%F %T')})
    - else
      %a(href="#{@reqp.name}/edit")= @reqp.name
  = @reqp.content.to_html
  %ul
    %li date: #{@reqp.date.strftime('%Y-%m-%d')}
    - if rationale = @reqp.attributes["rationale"]
      %li rationale: #{rationale.to_html}
    - if satisfies = @reqp.attributes["satisfies"]
      %li 
        satisfies:
        = satisfies.to_html
