.req{:id => @inline.name}
  .id
    - if @date
      = @inline.name
      - if @req
        (on #{@date.strftime('%F %T')})
    - else
      = @inline.name
      %span.show-edit
        (
        %a{:href => to("/#{@inline.name}/edit")} edit
        )
  .content
    = @inline.content.render
    %ul
      - if @inline.date
        %li.date date: #{@inline.date.strftime('%Y-%m-%d')}
      - @inline.attributes.each do |name, attr|
        %li(class=name) #{name}: #{attr.to_html}
      - if @origin
        %li.origin
          origin:
          - @origin.each do |doc|
            %a{:href => to("/#{doc}")}= doc
  - if !@date
    .edit
      %form{:method => "post", :action => to("/#{@inline.name}/edit")}
        %h2 Text
        %textarea(name="_content" cols=80 rows=5)= @inline.content.text

        %h2 Attributes
        %ul
          - if @inline.date
            %li date: #{Time.now.strftime('%Y-%m-%d')}
          - @inline.attributes.each do |k,v| 
            %li 
              = k
              \: 
              %textarea(name=k cols=40 rows=1)= v.text
          %li
            %input(class="new_attribute_name")
            \:
            %textarea(class="new_attribute")

        %input.save(type="submit" value="Save")
        %input.reset(type="reset" value="Cancel")
