%html
  %head
    %title #{@doc.name} - Traceability
    %script{:type => "text/javascript", :src => to("/jquery.js")}
    :javascript
      $(function () {
        $("th").append(" (<a class='hide' href='#'>hide</a>)");

        $("th a.hide").click(function(e) {
            e.preventDefault();
            // There is an offset between first line (with rowspan) and the following ones
            var not_first_offset = #{@source_attributes.length + 2};
            var this_th = $(this).parents("th");
            var index = this_th.index() + 1;
            var attr_class = this_th.attr('class');

            this_th.hide();
            //var attribute=this_th.text();
            $("tr.first td:nth-child(" + index + ")").hide();
            $("tr:not(.first) td:nth-child(" + (index - not_first_offset) + ")").hide();
            $("li."+attr_class).show();
        });
        $("li").click(function(e) {
            e.preventDefault();
            // There is an offset between first line (with rowspan) and the following ones
            var not_first_offset = #{@source_attributes.length + 2};
            var attr_class = $(this).attr('class');
            var this_th = $(document).find("th."+attr_class);
            var index = this_th.index("th") + 1;

            this_th.show();
            //var attribute=this_th.text();
            $("tr.first td:nth-child(" + index + ")").show();
            $("tr:not(.first) td:nth-child(" + (index - not_first_offset) + ")").show();
            $("li."+attr_class).hide();
        });
      });

    :css
      table {border-collapse: collapse;}
      td, th {border: thin solid;}
  %body
    %h1
      %a{:href => to("/d/#{@doc.name}")}= @doc.name
      \- Traceability for
      %span(style="font-style: italic;")= @attribute
    %table
      %tr
        %th.source__name Name
        %th.source__content Content
        - @source_attributes.each do |attr_name|
          %th(class="source_#{attr_name}")= attr_name
        %th.linked__name Linked name
        %th.linked__content Linked content
        - @linked_attributes.each do |attr_name|
          %th(class="linked_#{attr_name}")= attr_name

      - @reqs.each do |req|
        - linked_reqs = req[@attribute]
        - linked_reqs = [EmptyReq.new] if linked_reqs.empty?
        - first = true
        - linked_reqs.each do |linked_req|
          %tr{:class => first && "first"}
            - if first
              - first = false
              %td{:rowspan => linked_reqs.length}= req.name
              %td{:rowspan => linked_reqs.length}= req.content
              - @source_attributes.each do |attr_name|
                %td{:rowspan => linked_reqs.length}= req[attr_name]

            %td= linked_req.name
            %td= linked_req.content
            - @linked_attributes.each do |attr_name|
              %td= linked_req[attr_name]
    %ul.Attributes
      %li.source__name(style="display: none; ") <a href="#"> Name </a>
      %li.source__content(style="display: none; ") <a href="#"> Content </a>
      - @source_attributes.each do |attr_name|
        %li(class="source_#{attr_name}" style="display: none; ") <a href="#"> source_#{attr_name} </a>
      %li.linked__name(style="display: none; ") <a href="#"> Linked name </a>
      %li.linked__content(style="display: none; ") <a href="#"> Linked content </a>
      - @linked_attributes.each do |attr_name|
        %li(class="linked_#{attr_name}" style="display: none; ") <a href="#"> linked_#{attr_name} </a>
