%html
  %head
    %title #{@doc.name} - Traceability
    %script{:type => "text/javascript", :src => to("/jquery.js")}
    %script{:type => "text/javascript", :src => to("/openreqstables.js")}
    :javascript
      $(document).ready(function() {
        initialise_table(0);
      });

    :css
      table {border-collapse: collapse;}
      td, th {border: thin solid;}
  %body
    %h1
      %a{:href => to("/#{@doc.name}")}= @doc.name
      \- Traceability for
      %span(style="font-style: italic;")= @attribute
    %table
      %thead
        %tr
          %th.source__name Name
          %th.source__content Content
          - @l0_attributes.each do |attr_name|
            %th(class="source_#{attr_name}")= attr_name
          %th.linked__name Linked name
          %th.linked__content Linked content
          - @l1_attributes.each do |attr_name|
            %th(class="linked_#{attr_name}")= attr_name
      %tbody
        - @l0_reqs.each do |l0_req|
          - found_req = false
          - @l1_reqs.each do |l1_req|
            - if l1_req[@attribute].include? l0_req.name            
              %tr
                %td= l0_req.name
                %td= l0_req.content
                - @l0_attributes.each do |attr_name|
                  %td= l0_req[attr_name]
                %td= l1_req.name
                %td= l1_req.content
                - @l1_attributes.each do |attr_name|
                  %td= l1_req[attr_name]
                - found_req = true
          - if found_req == false
            %tr
              %td= l0_req.name
              %td= l0_req.content
              - @l0_attributes.each do |attr_name|
                %td= l0_req[attr_name]
              %td
              %td
              - @l1_attributes.each do |attr_name|
                %td
