%html
  %head
    %title #{@doc.name} - Traceability
  %body
    %h1 #{@doc.name} - Traceability for #{@attribute}
    %table{:border => "1"}
      %tr
        %th Name
        %th Content
        %th Linked name
        %th Linked content

      - @reqs.each do |req|
        - linked_reqs = req[@attribute]
        - if linked_reqs.empty?
          %tr
            %td=req.name
            %td=req.content
            %td
            %td
        - else
          - first = true
          - linked_reqs.each do |linked_req|
            %tr
              - if first
                - first = false
                %td{:rowspan => linked_reqs.length}= req.name
                %td{:rowspan => linked_reqs.length}= req.content

              %td= linked_req.name
              %td= linked_req.content
